index.ejs

<!DOCTYPE html>
<html>
<head>
  <title>MyGlobalHeartHub</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1>Welcome to MyGlobalHeartHub</h1>
  <p>Unification through the Heart Electromagnetic Field.<br>
  Rely on our heart wisdom. Move from head to heart. Clean hearts come together.</p>

  <img src="/images/heart_field.jpg" alt="Heart Field" width="400">
  <img src="/images/community_gathering.jpg" alt="Community Gathering" width="400">

  <p><a href="/pledge">Make a Pledge</a></p>
</body>
</html>



