<!DOCTYPE html>
<html>
<head>
  <title>Pledge - My Global Heart Hub</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>Our Pledge</h1>
  <p>[Your pledge.txt content here]</p>
  <a href="/">Back Home</a>
</body>
</html>
