<!DOCTYPE html>
<html>
<head>
  <title>Practice - My Global Heart Hub</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>Heart Practices</h1>
  <p>[Your practice.txt content here]</p>
  <a href="/">Back Home</a>
</body>
</html>
